# Build artifacts
.build/
.swiftpm/
DerivedData/

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace
*.xcodeproj

# macOS
.DS_Store
*.swp
*~

# SPM

Package.resolved

# Backup files
*~.swift
Package~.swift
